@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.menu {
    z-index: 1;
    height: 72px;
    width: 100%;
    padding-inline-start: 100px;
    padding-inline-end: 100px;
    background-color: #189AD6;
    font-size: 18px;
    justify-content: space-between;
    position: fixed;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

label {
    margin: 10px;
    padding: 5px;
    float: left;
}

label img {
    width: 210px;
}

.menu ul {
    margin: 0;
    padding: 5px;
    background: none;
    display: block;
    float: right;
}

.menu ul li {
    list-style: none;
    display: inline-block;
}

.menu ul li a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: white;
}

.menu ul li a:hover {
    display: block;
    color: #d1f0ff;
    background: #045F8B;
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #058BCC;
}

.menu ul li .dropdown {
    display: none;
}

.menu ul li:hover .dropdown {
    display: grid;
    background: #189AD6;
    position: absolute;
    border-radius: 10px;
    padding: 5px;
}

.title {
    width: 100%;
    margin-top: 6%;
}

.title h2 {
    text-align: center;
    font-size: 35px;
    color: #045F8B;
    font-weight: bold;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    margin: 20px;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
}

.content .main1,
.content .main2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    flex: 2;
}

.content .main1 img,
.content .main2 img {
    margin: 0;
    width: 80%;
    min-width: 250px;
    border: 2px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
    object-position: center;
}

.content .main1 .box,
.content .main2 .box {
    display: flex;
    width: 80%;
    margin-top: 5px;
}

.content .main1 .model,
.content .main2 .model {
    margin: 5px;
}

.content .main1 .model h2,
.content .main2 .model h2 {
    margin: 0;
    margin-top: 10px;
    color: #045F8B;
}

.contentbox1 {

    flex: 1;
    /* Take equal space */
    margin: 5px;
    /* Add margin for spacing */
}

.contentbox2 {
    margin: 5px;
    /* Add margin for spacing */
}

.contentbox3 {
    flex: 2;
    margin: 5px;
    /* Add margin for spacing */
}

.contentbox1 p,
.contentbox2 p,
.contentbox3 p {
    margin: 0;
    /* Remove default margin */
    font-size: 20px;
    color: #045F8B;
}


.content .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    flex: 1;
}

.content .btn .button {
    width: 100%;
    background: none;
    color: #045F8B;
    padding: 10px 20px;
    border: 2px solid #045F8B;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    text-align: center;
    /* Center text */
}

.content .btn .button:hover {
    color: #fff;
    background: #045F8B;
}

.content .btn .button::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #045F8B;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transform: scaleX(0);
    transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.content .btn .button:hover::before {
    transform: scaleX(1);
}

.button {
    display: inline-block;
    background: none;
    color: #045F8B;
    padding: 10px 20px;
    border: 2px solid #045F8B;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    overflow: hidden;
    text-align: center;
    /* Center text */
    margin: 0;
    /* Remove margin */
}

.button:hover {
    color: #fff;
    background: #045F8B;
}


footer {
    color: #fff;
    background-color: #189AD6;
    margin-top: 100px;
}

footer p {
    margin: 10px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 10px;
}